.idea/**
.DS_STORE

# Executables and binaries
debug
__debug_bin
main
bikemon
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out